<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>jsp</servlet-name>
        <jsp-file>/views/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
